@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-color: #86d2f2;
    background-size: cover;
    height: 100vh;
}

.stop {
    background-color: #1f1d41;
    border-radius: 8px;
    color: white;
    height: 40px;
    width: 60px;
    margin: 20px;
}

.ready {
    background-color: #1f1d41;
    border-radius: 8px;
    color: white;
    height: 40px;
    width: 60px;
    margin: 20px;
}

.go {
    background-color: #1f1d41;
    border-radius: 8px;
    color: white;
    height: 40px;
    width: 60px;
    margin: 20px;
}

.signal-board {
    border-radius: 30px;
    height: 230px;
    width: 86px;
    background-color: #1f1d41;
    padding-left: 30px;
}

.redsignal {
    background-color: #4b5069;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}

.yellow {
    background-color: #4b5069;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}

.green {
    background-color: #4b5069;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}