@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.main-heading {
    font-family: "Open Sans";
    font-weight: bold;
}

#button1 {
    height: 80px;
    width: 80px;
    text-align: center;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 8px;
    border-width: 3px;
}

#button2 {
    height: 80px;
    width: 80px;
    text-align: center;
    padding: 10px;
    background-color: #6fcf97;
    border-radius: 8px;
    border-width: 3px;
}

#button3 {
    height: 80px;
    width: 80px;
    text-align: center;
    padding: 10px;
    background-color: #56ccf2;
    border-radius: 8px;
    border-width: 3px;
}

#button4 {
    height: 80px;
    width: 80px;
    text-align: center;
    padding: 10px;
    background-color: #bb6bd9;
    border-radius: 8px;
    border-width: 3px;
}

.paragraph {
    font-weight: 75px;
}

.background-color {
    background-color: black;
    color: white;
    height: 35px;
    text-align: center;
    margin: 10px;
}